[Desktop Entry]
Type=Application
Name=Arch Linux Updates
GenericName=System updates
Comment=Auto updates for Arch Linux installations
Comment[el]=Αυτόματες ενημερώσεις για συστήματα Arch Linux
Categories=Utility;System;ConsoleOnly;
Keywords=Auto;Updates;Ubuntu;Based;
Icon=/usr/share/icons/custom/arch-square.svg
Exec=/usr/local/bin/custom/custom_arch-updates
Terminal=true
Actions=Reboot;ShutDown;

[Desktop Action Reboot]
Name=Reboot
Name[el]=Επανεκκίνηση
Exec=sudo shutdown -r now

[Desktop Action ShutDown]
Name=Shut Down
Name[el]=Τερματισμός
Exec=sudo shutdown -h now
